@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

 /* Custom Properties */
:root{
    --background-linear-gradient: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(assets/weather_hero.jpg);
    --cloud-color:whitesmoke;
    --font-family: 'Nunito Sans', 'sans-serif';
}

*{
    margin: 0px;
    padding: 0px;
    
}
html{
    font-size: 16px;
}

body, html{
    font-family: var(--font-family);
    background-image: var(--background-linear-gradient);
    height: 100vh;
}

 /* Header */

.city-links{
    color: var(--cloud-color);
    text-decoration: none;
    margin: 20px;
}

nav div{
    display: flex;
    justify-content: flex-end;
}

 /* Main */

.hero-img{
    
    /* height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    */
    /* 1 rem = 16px */
}

.hero-text{
    
    color: var(--cloud-color);
    margin-top: 8rem;
    font-size: 1rem;
}

