@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

 /* Custom Properties */
:root{
    --background-linear-gradient: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(assets/weather_hero.jpg);
    --cloud-color:whitesmoke;
    --font-family: 'Nunito Sans', 'sans-serif';
}


*{
    margin: 0px;
    padding: 0px;
    
}
html{
    font-size: 16px;
}

body, html{
    font-family: var(--font-family);
    background-image: var(--background-linear-gradient);
    height: 100vh;
}

 /* Header */

.city-links{
    color: var(--cloud-color);
    text-decoration: none;
    margin: 20px;
}

nav div{
    display: flex;
    justify-content: flex-end;
}


/*.hero-img{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(assets/weather_hero.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}*/

.hero-text{
    font-family: 'Nunito Sans', 'sans-serif';
    color: whitesmoke;
    height: 93%;
    width: 100%;
}

/**/
.div-ex{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(assets/weather_hero.jpg);
    height: 100%;
}
 /* Main */

.hero-img{
    
    /* height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    */
    /* 1 rem = 16px */
}


/*This class contains the search bar*/
.search {
    width: 100%;
    position: relative;
    display: flex;
}
.hero-text{
    
    color: var(--cloud-color);
    margin-top: 8rem;
    font-size: 1rem;
}

/*Input bar*/

.searchTerm {
    width: 100%;
    border: 6px solid #38598b;
    border-right: none;
    padding: 8px;
    height: 3rem;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
}

.searchButton {
    width: 10%;
    height: 3rem;
    border: 1px solid #38598b;
    background:#38598b;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.wrap{
    width: 30%;
    margin-top: 1rem;
}


 